<h1><%= @dataset_klass.metadata[:dataset_title] %></h1>

<%= form_tag "query", id: "vis-form", method: "POST", url: "/datasets/#{params[:id]}/query" do |form| %>
  See <select name="aggregations" >
    <% @dataset_klass.aggregations.each do |aggregation| %>
     <option value="<%= aggregation %>"><%=aggregation%></option>
    <% end %>
  </select>
  by
  <select name="descriptors" value="<%= (params[:descriptors]) %>"> <!--Supplement an id here instead of using 'name'-->
    <% @dataset_klass.descriptors.each do |descriptor| %>
      <% selected = (descriptor == params[:descriptors] ? "selected" : nil) %>
      <option value="<%=descriptor%>" <%= selected %>><%=descriptor%></option>
    <% end %>
  </select>
  as

  <select name="chart"> <!--Supplement an id here instead of using 'name'-->
    <%= @diagram_types.each do |key, value| %>
     <option value="<%= key %>"><%= value %></option>
     <% end %>
  </select>

  <select id="order" name="order">
    <% @dataset_klass.orders.each do |order| %>
     <option value="<%= order %>"><%=order%></option>
    <% end %>

  </select>

  <select id="limit" name="limit" class="hidden">
    <option value="20">20</option>
    <option value="10">10</option>
    <option value="5">5</option>
  </select>
  <p>
  <input type="submit" value="Visualize!">
  </p>
<% end %>

  <div id="our-data">
  </div>

  <div id="diagram-title"></div>
  <div id="chart"></div>
  <div id="download-div" class="hidden">
    <%= form_tag "download", id: "download-form", method: "POST", url: "/datasets/download" do |form| %>
    <input type="submit" value="Download">
    <% end %>
  </div>
  <div id="url-div"><a href="">Share</a></div>
  <br>
  <br>
  <div id="descriptive-metadata">
    <p id="dataset-title"><%= @descriptive_metadata[:dataset_title] %></p>
    <p id="dataset-description"><%= @descriptive_metadata[:description] %></p>
  </div>
  <div id="administrative-metadata">
    <p>Source: <a href="<%= @descriptive_metadata[:dataset_url] %>"><%= @descriptive_metadata[:dataset_source] %></a></p>
  </div>








