<h1>Data Visualization</h1>

<%= form_tag "query", id: "vis-form", method: "POST", url: "/datasets/#{params[:id]}/query" do |form| %>
  See <select name="aggregations">
    <% (@diagram_form_inputs[:pie][:aggregations]).each do |aggregation| %>
     <option value="<%= aggregation %>"><%=aggregation%></option>
    <% end %>
  </select>
  by
  <select name="descriptors"> <!--Supplement an id here instead of using 'name'-->
    <% (@diagram_form_inputs[:pie][:descriptors]).each do |descriptor| %>
     <option value="<%=descriptor%>"><%=descriptor%></option>
    <% end %>
  </select>
  as
  <select name="chart"> <!--Supplement an id here instead of using 'name'-->
    <%= @diagram_types.each do |key, value| %>
     <option value="<%= key %>"><%= value %></option>
     <% end %>
  </select>

  <select name="order">
    <option value="top">Top</option>
    <option value="bottom">Bottom</option>
  </select>

  <select name="limit">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
  </select>

  <input type="submit" value="Visualize!">
<% end %>

  <div id="our-data">
  </div>

  <div id="diagram-title"></div>
  <div id="chart"></div>
  <div id="download-div" class="hidden">
    <%= form_tag "download", id: "download-form", method: "POST", url: "/datasets/download" do |form| %>
    <input type="submit" value="Download">
    <% end %>
  </div>
  <div id="descriptive-metadata">
    <p id="dataset_title"><%= @descriptive_metadata[:dataset_title] %></p>
    <p id="dataset_description"><%= @descriptive_metadata[:description] %></p>
  </div>
  <div id="administrative-metadata">
    <p id="dataset_source"><%= @descriptive_metadata[:dataset_source] %></p>
    <p id="dataset_url"><a href="<%= @descriptive_metadata[:dataset_url] %></p>"><%= @descriptive_metadata[:dataset_url] %></a></p>
  </div>





